@import '../../global.scss';

.stories-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  .arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: #f43f5e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    @include mobile { 
      display: none; 
    }
    @include tablet { 
      display: none; 
    }
    &.left { left: -25px; }
    &.right { right: -25px; }
    &:hover { background-color: #d73852; }
  }
  .stories{
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 20px;
    overflow-x: auto;
    -ms-overflow-style: none;
    @include mobile { 
      height: 180px;
    }
    @include tablet {
      height: 200px;
    }
    &::-webkit-scrollbar { display: none; }
    .story{
      flex: 0 0 130px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      @include mobile {
        flex: 0 0 100px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      span{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #FFFFFF;
        font-weight: 500;
        @include mobile {
          font-size: 12px;
          bottom: 5px;
          left: 5px;
        }
      }
      button{
        position: absolute;
        bottom: 40px;
        left: 10px;
        color: #FFFFFF;
        background-color: #F43F5E;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;transition: transform 0.2s ease;
        @include mobile {
          width: 25px;
          height: 25px;
          bottom: 30px;
          left: 5px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}