@import "../../global.scss";

.share {
  @include themify($themes) {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;
    .container {
      padding: 20px;
      @include mobile {
        padding: 10px;
      }
      .top {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        input {
          border: none;
          outline: none;
          padding: 20px 10px;
          background-color: transparent;
          width: 80%;
          color: themed("textColor");
          @include mobile {
            width: 70%;
            padding: 10px;
          }
          &::placeholder {
            color: themed("textColorSoft");
          }
        }
      }
      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
          flex-direction: column;
          gap: 15px;
          align-items: flex-start;
        }
        .left {
          display: flex;
          align-items: center;
          gap: 20px;
          flex-wrap: wrap;
          @include mobile {
            gap: 10px;
          }
          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;svg {
              height: 22px;
              color: themed("textColorSoft");
            }
            span {
              font-size: 12px;
              color: themed("textColorSoft");
            }
          }
        }
        .right {@include mobile {
            width: 100%;
            display: flex;
            justify-content: center;
          }
          button {
            border: none;
            padding: 7px 15px;
            color: #FFFFFF;
            cursor: pointer;
            background-color: #5271ff;
            border-radius: 3px;
            @include mobile {
              width: 40%;
            }
          }
        }
      }
    }
  }
}