.login {
  height: 100vh;
  background-color: #ebabb6;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 60%;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    min-height: 580px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(46, 1, 1, 0.5), rgba(46, 1, 1, 0.5)), 
        url('https://images.pexels.com/photos/5081918/pexels-photo-5081918.jpeg') center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #FFFFFF;
      h1 {
        font-size: 80px;
        line-height: 70px;
      }
      span {
        font-size: 14px;
      }
      button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #FFFFFF;
        color: #1E293B;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      h1 {
        font-size: 40px;
        color: #1E293B;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        .button-box{
          display: flex;
          justify-content: center;
          button {
            width: 60%;
            padding: 10px;
            border: none;
            background-color: #F43F5E;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}