@import '../../global.scss';

.comments{
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 0 10px;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .write{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 20px 0px;
      input{
        width: 100%;
        padding: 10px;
        border: 1px solid themed("border");
        background-color: themed("bg");
        color: themed("textColor");
      }
      button{
        border: none;
        padding: 10px;
        background-color: #5271ff;
        color: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .comment{
      display: flex;
      margin: 20px 0px;
      gap: 10px;
      .info{
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        span{
          font-weight: 500;
          color: themed("textColor");
        }
        p{
          font-weight: 200;
          color: themed("textColor");
        }
      }
      .date{
        flex: 1;
        align-self: center;
        font-size: 12px;
        color: themed("textColorSoft");
      }
    }
  }
}