@import '../../global.scss';

.comments{
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 0 10px;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      @include mobile {
        width: 30px;
        height: 30px;
      }
    }
    .write{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 20px 0px;
      @include mobile {
        gap: 10px;
      }
      input{
        width: 100%;
        padding: 10px;
        border: 1px solid themed("border");
        background-color: themed("bg");
        color: themed("textColor");
      }
      button{
        border: none;
        padding: 10px;
        background-color: #5271ff;
        color: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
        @include mobile {
          padding: 8px;
          font-size: 14px;
        }
      }
    }
    .comment{
      display: flex;
      margin: 20px 0px;
      gap: 10px;
      @include mobile {
        gap: 8px;
      }
      .info{
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        span{
          font-weight: 700;
          color: themed("textColor");
          font-size: 14px;
        }
        p{
          font-weight: 400;
          color: themed("textColor");
          font-size: 14px;
          line-height: 1.4;
        }
      }
      .date{
        flex: 1;
        align-self: center;
        font-size: 12px;
        color: themed("textColorSoft");
        @include mobile {
          font-size: 10px;
          align-self: flex-start;
          margin-top: 5px;
        }
      }
    }
  }
}