@import '../../global.scss';

.post{
  @include themify($themes) {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
    background-color: themed("bg");
    border-radius: 8px;
    color: themed("textColor");
    .container{
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .userInfo{
          display: flex;
          align-items: center;
          gap: 10px;
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          .details{
            display: flex;
            flex-direction: column;
            .name{
              font-weight: 500;
              color: themed("textColor");
            }
            .date{
              font-size: 12px;
              color: themed("textColorSoft");
            }
          }
        }
      }
      .content{
        margin: 20px 0px;
        p{
          color: themed("textColor");
        }
        img{
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }
      .info{
        display: flex;
        align-items: center;
        gap: 20px;
        .item{
          display: flex;
          align-items: center;
          gap: 5px;
          color: themed("textColorSoft");
          cursor: pointer;
          font-size: 14px;
          @include mobile {
            font-size: 10px;
          }
        }
      }
    }
  }
}