@import '../../global.scss';

.rightBar {
  @include themify($themes) {
    flex: 3;
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
    overflow-y: auto;
    background-color: themed("bgSoft");
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px 30px;
      .item {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        span {
          color: themed("textColorsoft");
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;
          & > span {
            font-size: 12px;
            color: themed("textColorsoft");
          }
          .user-info {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            p {
              font-size: 14px;
              color: themed("textColorsoft");
              margin-right: 5px;
              span {
                color: themed("textColor");
                font-size: 14px;
                margin-right: 5px;
              }
            }
            & > span {
              font-size: 14px;
              color: themed("textColor");
            }
            .online {
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: #4ade80;
              top: 0px;
              left: 30px;
              border: 2px solid themed("bg");
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
              border: none;
              padding: 5px 10px;
              color: #FFFFFF;
              cursor: pointer;
              border-radius: 4px;
              &:first-child {
                background-color: #5271ff;
              }
              &:last-child {
                background-color: #f0544f;
              }
            }
          }
        }
      }
    }
  }
}