@import '../../global.scss';

.profile{
  @include themify($themes) {
    background-color: themed("bgSoft");
    .images{  
      width: 100%;
      height: 300px;
      position: relative;
      @include mobile {
        height: 200px;
      }
      .cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .profile-pic{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 220px;
        @include mobile {
          width: 100px;
          height: 100px;
          top: 150px;
        }
      }
    }
    .profile-container{
      padding: 20px 50px;
      @include mobile {
        padding: 10px;
      }
      @include tablet {
        padding: 20px;
      }
      .us-info{
        height: 180px;
        background-color: themed("bg");
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.05);
        color: themed("textColor");
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border-radius: 8px;
        margin-bottom: 30px;
        padding: 30px;
        @include mobile {
          flex-direction: column;
          height: auto;
          padding: 50px 20px 20px 20px;
          margin-top: 20px;
        }
        .left{
          flex: 1;
          display: flex;
          gap: 5px;
          @include tablet {
            flex-wrap: wrap;
          }
          a{
            color: themed("textColorSoft");
          }
        }
        .center{
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          span{
            font-weight: 500;
            font-size: 28px;
            @include mobile {
              font-size: 22px;
            }
          }
          .info{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include tablet {
              flex-direction: row;
              flex-wrap: wrap;
              gap: 10px;
            }
            .item{
              display: flex;
              align-items: center;
              gap: 5px; 
              color: themed("textColorSoft");
              span{
                font-size: 12px;
              }
            }
          }
          button{
            border: none;
            padding: 5px 10px;
            background-color: #5271ff;
            color: #FFFFFF;
            cursor: pointer;
            border-radius: 4px;
            @include mobile {
              width: 100%;
            }
          }
        }
        .right{
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          color: themed("textColorSoft");
        }
      }
    }
  }
}